.pricing{
    width: 100%;
    padding: 6rem 1rem;
    background-color: black;
}

.card-cotnainer{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
}
.cards{

    border: 1px solid #fff;
    color: aliceblue;
    text-align: center;
    padding: 1rem;
    
}
.cards:hover {
    background-color: rgb(24, 22, 22);
}
.cards h3 {
    font-size: 1.4rem;
    
}

.cards h3 {
  
    padding: 10px 0;
}

.bar {
    border-bottom: 1px solid #eee;
    margin: 1rem auto ;
    display: block;
}

.btc {
    font-size: 3.5rem;
    font-weight: 600;
    padding: 1rem 0;
}

.btn {
    
    display: block;
    width: 80%;
    margin: 2rem auto;
   
}

@media screen and (max-width: 740px) {
    .card-cotnainer{
        margin: auto;
        max-width: 90%;
        grid-template-columns: 1fr;
    }
}