@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  background-color: black;
}

h1, h4, p,a{
  color: #fff;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn{
  color: black;
  padding: 12px 25px;
  border: 1px solid white;
  font-size: 1rem;
  background-color: orange;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;

} 
.btn-2 {
  margin-right: 0.5rem;
  color: black;
  padding: 12px 32px;
  border: 1px solid white;
  font-size: 1rem;
  background-color: orange;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-light{
  padding: 12px 32px;
  background: transparent;
  color: #fff;
  border: 1px solid white;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;

}

.btn:hover {
  background-color: rgba(26, 20, 8, 0.2);
  color: #fff;
  transition: 0.3s;
}
.btn-2:hover{
  /* background-color: black; */
  background-color: transparent;

  transition: 0.3s;
  color: #fff;

}
.btn-light:hover{
/* background-color: black; */
background-color: orange;
  transition: 0.3s;
  color: #000;

  /* background-color: rgba(26, 20, 8, 0.2);
  color: #fff;
  transition: 0.3s; */
  
}